# Ignore object files and executables
*.o
*.exe
/build/

# VSCode local settings
.vscode/

# macOS debug bundles
*.dSYM/

# Ignore all data folders
GutenbergText/
benchmarks/BenchDocs
indexBin/
indexTestBin/
indexTestBin2/